#login-panel {
  margin-top: 90px 
}
.container{
  width:600px;
  margin:0 auto;
  margin-top:40px;
  padding-bottom: 30px;
}
.message{
 padding: 13px;
  margin-top: 15px;
  border-radius: 4px;
  border: #ccc solid 1px;
}
.message p{
 margin: 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
}
.success{
 color: rgb(50, 233, 71);
 background-color: #DFF0D4;
 border: #D6E9C4 solid 1px;
}
.error {
 color: #fff;
 background-color: #FF9494;
 border: #FF9494 solid 1px;
}
.message.success, .message.error {
  float: right;
  margin-top: -5px;
}
.panel-primary > .panel-heading, .panel .panel-heading {
  color: rgb(255, 255, 255);
  background-color: #eb1ad9;
  border-color: #ac22a0;
}
.panel.panel-primary {
  border-color: #ac22a0;
}
.btn.btn-primary {
  color: rgb(255, 255, 255);
  background-color: #ac22a0;
  border-color: #ac22a0;
}
.message.success a {
  color: #197dd4 !important;
}